/*

cv_tp.css

---------
 Fichier css pour la mise en forme de mon cv
 

Par Virginie Mouriès

*/

/* Définir une police personnalisée via @font-face */
@font-face {
    font-family: 'BellaDonna';
    src: url('polices/BellaDonna.ttf') format('truetype');
    src: url('polices/BellaDonna.woff') format('woff'),
         url('polices/BellaDonna.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Définition des polices personnalisées */
@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}


body
{
	
    font-family: 'Trebuchet MS', Arial, sans-serif;
    /* color: #181818; */
    background-attachment: fixed;
    margin-bottom: 200px;  
    padding: 20px;  
}


section h2
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color:  LightCyan; /*  #E8E8F0; */
    width: 600px;
    color: black ;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 5px;
}

h2::before{
     /* content: '\2728'; */
     content: '\1F4A6';
    margin-right: 5px;

}

section h3

{
     background-color:  #EFEFEF;
 
}

/********************************************* 
    Header 

**********************************************/


header

{
    position: fixed;
    top : 0;
    left : 0;
    background-color: LightCyan ; /*LightBlue; /*#E8E8F0; /* url('Images/marbthin.gif') repeat-x bottom; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    z-index: 10;
    
}

.presentation
{
    text-align: center;
    width: 100%;
}

#titre_principal
{
    display: flex;
    flex-direction: row; 
    width: 70%;   
}


#pt_photo
{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    margin-left: 20px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    
}





header h1
{
    /* font-family: 'Dayrom', serif;*/
    font-size: 2.5em;
    font-weight: normal;
    margin: auto;
}

header h2, footer h2
{
    font-family: 'BellaDonna', serif;
    font-size: 1.8em;
    font-weight: normal;
    /*  margin-left: 10px; */
}


/******************************** 
    Navigation 
*********************************/

nav
{
    /* position: absolute; */
    font-size: 0.8em;
    top: 0px;
    right: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
}

fieldset
{
    border: none;    
}

.radioInput{
    display: none;
}

input
{
    margin: 3px 3px 0px 5px;
    -webkit-appearance: radio;
    box-sizing: border-box;
}

input i 
{
    background-color: initial;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

label
{
    font-size: 1.2em;
    cursor: default;
}

.radioInput:checked + .radioLabel {
    border-top: 3px solid #6495ED; /*#3491B2;*/
}

.radioLabel {
    padding: 1rem 2rem;
    margin-right: 5px;
    -webkit-transition: all .2s;
    transition: all .2s;
    color: grey;
}



/* Corps */


section
{
    display: flex;    
    padding-top: 180px;    
    margin-bottom: 20px;
    flex-direction: column;    
}

section li
{
    font-size: 1em;
    list-style-type: disc;
}

article
{    
    text-align: justify;
    margin-right: 15px;

}

aside
{
     /* flex: 1.2; */
    position: relative;
    background-color: #706b64;
    opacity: 0.4;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;    
    padding: 10px;
    color: white;
    font-size: 0.9em;
    text-align: justify;
    margin-right: 15px;
}

em
{
    color: #0099FF; /*#6495ED; /* blue;*/

    font-weight: bold;
    font-style: normal;
}

p
{
    font-family: Arial, serif;
    font-size: 1em;    ;
}

/*************************************************
        Page accueil
**************************************************/

.conteneurSavoirEtre{
    position:relative;
    height: 300px;
    z-index: 1;
}

.savoirEtre{
    position: relative;
    /* display: inline-block;    */
    text-align: center;
    font-weight: bold;
    background-color: #E8E8F0;    
    border-radius: 50%;    
    padding: 10px;
    line-height:15px;
}

.savoirEtre li{
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.se1{ /* Esprit d'équipe */
    top: 50px;
    /* left:10px */;
    height: 95px;
    width: 95px; 
    background-color: #EF9A9A;    
}

.se2{ /* Respect de l’autre */       
    top: -60px;
    left: 200px;
    height:100px;    
    width:100px; 
    background-color: #FBB780;   
}

.se3{ /* creative */    
    top:-50px;
    left: 20px; 
    height: 80px;
    width: 80px; 
    background-color: LightGoldenRodYellow;  
}

.se4{ /* Persévérante */
    top: -140px;
    left: 100px; 
    height: 120px;
    width: 120px; 
    background-color: #C8E6C9 ;
}

.se5{ /* Expérience de travail en équipe */
    top: -360px;
    left: 90px;
    height: 115px;
    width: 115px; 
    background-color: Highlight;
}

.se6{ /* Echelle de valeurs */ 
    top:-380px;
    left: 210px;   
    height: 95px;
    width: 95px; 
    background-color: #E1BEE7;
}

.se7{ /* Empathie */
    top: -450px;
    left: 300px;
    height: 90px;
    width: 90px; 
    background-color: #FFCDD2;
}

.se8{ /* Valorisation de l'effort */
    top: -600px;
    left: -400px;
    height: 80px;
    width: 80px; 
    background-color: RosyBrown;
}

.se9{ /* Fixer des objectifs et les évaluer */
    top: -730px;
    left: 295px;
    height: 115px;
    width: 115px; 
    background-color:#B2EBF2  ;
}

.conteneurSavoirFaire{
    display: grid;
}

/*************************************************
        Page compétences
**************************************************/

.conteneur_competences{
    width: 500px;
    height:270px;
    margin-top: 130px;
    margin-left: 400px;
    /* margin: 100px; */
    position: relative;
    perspective: 1200px;
}

@keyframes deplacement{
    0%{
        transform: rotateY(0deg) rotateX(10deg);
        top:0;
        left: 0;    
    }
   
    100%{
        transform: rotateY(360deg) rotateX(10deg);      
        top:0;
        left: 0;
    }
}

.carousel_competences{  
    position: absolute;
    /* attention tout dans cet element sera en 3D */
    transform-style: preserve-3d;
    animation: deplacement 10s infinite linear;
    width: 150px;
    height: 150px;
}



.child{
    border-radius: 20%;
    margin: 0;
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;  
    border: 2px solid black;        
}

#html5{
    background:url("Images/HTML5_Logo.png") 50% 50% no-repeat;
    background-size: 90%;
    transform: rotateY(0) translateZ(300px);
}

#css3{
    background:url("Images/CSS3_Logo.png") 50% 50% no-repeat;
    background-size: 65%;
    transform: rotateY(40deg) translateZ(300px);
}

#js{
    background:url("Images/JS_Logo.png") 50% 50% no-repeat;
    background-size: 65%;
    transform: rotateY(80deg) translateZ(300px);
}

#sql{
    background:url("Images/SQL_Logo.jpg") 50% 50% no-repeat;
    background-size: 90%;
    transform: rotateY(120deg) translateZ(300px);
}

#php{
    background:url("Images/PHP_Logo.png") 50% 50% no-repeat;
    background-size: 92%;
    transform: rotateY(160deg) translateZ(300px);
}

#java{
    background:url("Images/Java_Logo.png") 50% 50% no-repeat;
    background-size: 50%;
    transform: rotateY(200deg) translateZ(300px);
}

#git{
    background:url("Images/Git_Logo.png") 50% 50% no-repeat;
    background-size: 105%;
    transform: rotateY(240deg) translateZ(300px);
}

#symfony{
    background:url("Images/Essai.png") 50% 50% no-repeat;
    background-size: 120%;
    transform: rotateY(280deg) translateZ(300px);
}

#child9{
    background-color: limegreen;
    transform: rotateY(320deg) translateZ(300px);
}

/*************************************************
        Missions
**************************************************/



/*************************************************
        Footer
**************************************************/

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    
    width: 100%;
    background: #E8E8F0; /* url('Images/marbthin.gif') repeat-x top;*/
    display: flex;    
    justify-content: space-between;
    flex-direction: row;
    /*debugg border: blue solid; */
    

}

/*
#pied_page
{
    background: url('Images/marbthin.gif') repeat-x top;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: yellow solid;
    
}
*/

.plan_site
{
    font-size: 0.8em;
    /* debugg border: red solid; */
    padding-right: 10px;
}

.coordonnées
{
    align-items: right;
    /* debugg border: green solid; */
    padding-left: 20px;
}